.unshow {
    overflow: hidden;
    height: 50px;
    transition: height 1s;
}
.show {
    height: 100%;
}
button {
    position: absolute;
    bottom: 15px;
    left: 15px;
}
.links:hover {
    color: blue;
    cursor: pointer;
}
.value:hover {
    cursor: pointer;
}
.upload-file {
    font-size: 1em;
}
@media (min-width:576px){
    button {
        position: relative;
        bottom: 0;
        left: 0;
        top: 15px;
    }
}