.unshow {
    overflow: hidden;
    height: 50px;
    transition: height 1s;
}
.show {
    height: 100%;
}
button {
    position: absolute;
    bottom: 15px;
    left: 15px;
}
span:hover {
    color: blue;
    cursor: pointer;
}