<app-spinner *ngIf="spin"></app-spinner>
<mat-progress-bar *ngIf="uploadPercentage" mode="determinate" value="{{uploadPercentage | async}}"></mat-progress-bar>
<div *ngIf="!width" class="row">
    <div class="col-6"
    cdkDropList (cdkDropListDropped)="drop($event)"
    [cdkDropListData]="items" 
    [cdkDropListConnectedTo]="doneList" 
    #list="cdkDropList">
        <h2 style="text-align: center">Todo</h2>
        <ul class="list-group">
            <li cdkDrag class="list-group-item" *ngFor="let item of items | async"  [ngClass]="{'unshow': !item.edit || !item.show, 'show': item.edit || item.show}" [attr.id]="item.id">
                <div class="row">
                    <div class="col-2">
                        <input type="checkbox" (change)="done(item.id)">
                    </div>
                    <div class="col-6 value" (click)="showFiles(item.id)">
                        {{item.value}}
                    </div>
                    <div class="col-2 value" (click)="edit(item.id)" style="text-align: center;">
                        <fa-icon [icon]="faEdit"></fa-icon>
                    </div>
                    <div class="col-2 value" (click)="deleteItem(item.id)" style="text-align: center;">
                        <fa-icon [icon]="faTrash"></fa-icon>
                    </div>
                </div>
                <div class="row" style="padding: 0.75rem 1.25rem;" *ngIf="item.edit">
                    <div class="col-12">
                        <mat-form-field class="input-element">
                            <input matInput type="text" placeholder="Edit item value" [(ngModel)]="editValue" (change)="editItem(item.id)">
                        </mat-form-field>
                    </div>
                    <div class="col-12">
                        <input type="file" multiple (change)="uploadFile($event)" [attr.id]="item.id">
                    </div>
                </div>
                <div class="row" *ngIf="item.show" style="padding: 0.75rem 1.25rem;">
                    <div class="col-12">
                        <ul>
                            <li *ngFor="let file of item.files">
                                <div class="row value">
                                    <div class="col-10 links" (click)="download(file.path)">{{file.fileName}}</div>
                                    <div class="col-2" (click)="deleteFile(item.id, file.path)"><fa-icon [icon]="faTrash"></fa-icon></div>
                                </div>
                                <!-- <span>{{file.fileName}} <fa-icon [icon]="faTrash"></fa-icon></span> -->
                            </li>
                        </ul>
                    </div>
                    <!-- <div class="col-12" *ngFor="let file of item.files">
                        <a (click)="download(file.path)">{{file.fileName}}</a>
                    </div> -->
                </div>
            </li>
        </ul>
    </div>
    <div class="col-6"
    cdkDropList (cdkDropListDropped)="drop($event)"
    [cdkDropListData]="dontItems" 
    [cdkDropListConnectedTo]="list" 
    #doneList="cdkDropList">
    <h2 style="text-align: center">Done</h2>
        <ul class="list-group">
            <li cdkDrag class="list-group-item" *ngFor="let doneItem of doneItems | async"  [ngClass]="{'unshow': !doneItem.edit || !doneItem.show, 'show': doneItem.edit || doneItem.show}" [attr.id]="doneItem.id">
                <div class="row">
                    <div class="col-2">
                        <input type="checkbox" (change)="done(doneItem.id)" checked>
                    </div>
                    <div class="col-8 value" (click)="showFiles(doneItem.id)">
                        {{doneItem.value}}
                    </div>
                    <div class="col-2 value" (click)="edit(doneItem.id)">
                        <fa-icon [icon]="faEdit"></fa-icon>
                    </div>
                </div>
                <div class="row" style="padding: 0.75rem 1.25rem;" *ngIf="doneItem.edit">
                    <div class="col-12">
                        <mat-form-field class="input-element">
                            <input matInput type="text" placeholder="Edit item value" [(ngModel)]="editValue" (change)="editItem(doneItem.id)">
                        </mat-form-field>
                    </div>
                    <div class="col-12">
                        <input type="file" multiple (change)="uploadFile($event)" [attr.id]="doneItem.id">
                    </div>
                </div>
                <div class="row" *ngIf="doneItem.show" style="padding: 0.75rem 1.25rem;">
                    <div class="col-12">
                        <ul>
                            <li *ngFor="let file of doneItem.files">
                                <div class="row value">
                                    <div class="col-10 links" (click)="download(file.path)">{{file.fileName}}</div>
                                    <div class="col-2" (click)="deleteFile(doneItem.id, file.path)"><fa-icon [icon]="faTrash"></fa-icon></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- <div class="col-12" *ngFor="let file of item.files">
                        <a (click)="download(file.path)">{{file.fileName}}</a>
                    </div> -->
                </div>
            </li>
        </ul>
    </div>
</div>
<div *ngIf="width">
    <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Todo">
            <div>
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let item of items | async"  [ngClass]="{'unshow': !item.edit || !item.show, 'show': item.edit || item.show}" [attr.id]="item.id">
                        <div class="row">
                            <div class="col-2">
                                <input type="checkbox" (change)="done(item.id)">
                            </div>
                            <div class="col-8 value" (click)="showFiles(item.id)">
                                {{item.value}}
                            </div>
                            <div class="col-2 value" (click)="edit(item.id)">
                                <fa-icon [icon]="faEdit"></fa-icon>
                            </div>
                        </div>
                        <div class="row" style="padding: 0.75rem 1.25rem;" *ngIf="item.edit">
                            <div class="col-12">
                                <mat-form-field class="input-element">
                                    <input matInput type="text" placeholder="Edit item value" [(ngModel)]="editValue" (change)="editItem(item.id)">
                                </mat-form-field>
                            </div>
                            <div class="col-12">
                                <input type="file" multiple (change)="uploadFile($event)" [attr.id]="item.id">
                            </div>
                        </div>
                        <div class="row" *ngIf="item.show" style="padding: 0.75rem 1.25rem;">
                            <div class="col-12">
                                <ul>
                                    <li *ngFor="let file of item.files">
                                        <div class="row value">
                                            <div class="col-10 links" (click)="download(file.path)">{{file.fileName}}</div>
                                            <div class="col-2" (click)="deleteFile(item.id, file.path)"><fa-icon [icon]="faTrash"></fa-icon></div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!-- <div class="col-12" *ngFor="let file of item.files">
                                <a (click)="download(file.path)">{{file.fileName}}</a>
                            </div> -->
                        </div>
                    </li>
                </ul>
            </div>
        </mat-tab>
        <mat-tab label="Done">
            <div>
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let doneItem of doneItems | async"  [ngClass]="{'unshow': !doneItem.edit || !doneItem.show, 'show': doneItem.edit || doneItem.show}" [attr.id]="doneItem.id">
                        <div class="row">
                            <div class="col-2">
                                <input type="checkbox" (change)="done(doneItem.id)" checked>
                            </div>
                            <div class="col-8 value" (click)="showFiles(doneItem.id)">
                                {{doneItem.value}}
                            </div>
                            <div class="col-2 value" (click)="edit(doneItem.id)">
                                <fa-icon [icon]="faEdit"></fa-icon>
                            </div>
                        </div>
                        <div class="row" style="padding: 0.75rem 1.25rem;" *ngIf="doneItem.edit">
                            <div class="col-12">
                                <mat-form-field class="input-element">
                                    <input matInput type="text" placeholder="Edit item value" [(ngModel)]="editValue" (change)="editItem(doneItem.id)">
                                </mat-form-field>
                            </div>
                            <div class="col-12">
                                <input type="file" multiple (change)="uploadFile($event)" [attr.id]="doneItem.id">
                            </div>
                        </div>
                        <div class="row" *ngIf="doneItem.show" style="padding: 0.75rem 1.25rem;">
                            <div class="col-12">
                                <ul>
                                    <li *ngFor="let file of doneItem.files">
                                        <div class="row value">
                                            <div class="col-10 links" (click)="download(file.path)">{{file.fileName}}</div>
                                            <div class="col-2" (click)="deleteFile(doneItem.id, file.path)"><fa-icon [icon]="faTrash"></fa-icon></div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!-- <div class="col-12" *ngFor="let file of item.files">
                                <a (click)="download(file.path)">{{file.fileName}}</a>
                            </div> -->
                        </div>
                    </li>
                </ul>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
<button mat-fab (click)="openBottomSheet()">Add</button>