<form #item="ngForm" (ngSubmit)="addItem($event)">
    <mat-form-field class="input-element">
        <input matInput type="text" placeholder="New item value" name="value" required #value="ngModel" ngModel>
        <mat-error *ngIf="value.errors?.required">Can't be empty</mat-error>
    </mat-form-field>
    <br>
    <label for="files">Select files for upload</label>
    <input type="file" name="files" id="files" multiple class="upload-file">
    <br>
    <button mat-raised-button type="submit" [disabled]="value.errors?.required || disabled">Add</button>
    <mat-error>{{errorMessage}}</mat-error>
    <div *ngFor="let file of uploading">
        {{file.name}}
        <ngb-progressbar type="success" [value]="file.progress | async" [striped]="true" [animated]="true"></ngb-progressbar>
    </div>
</form>